﻿
@{
    ViewData["Title"] = "Error";
}
<div class="row">

    <div class="col-lg-4">

    </div>

    <div class="col-lg-4">

        <h2>@ViewData["ErrorCode"] </h2>
        <p>
            @ViewData["ErrorMessage"]
        </p>

    </div>
    <div class="col-lg-4">

    </div>
</div>

