﻿@using ODDESTODDS.web.ViewModels;
@model ODDESTODDS.web.ViewModels.CreateOddsViewModel;

@{
    ViewData["Title"] = "Create Odds";

}

<div class="row">
    <br /><br /><br />
    <div class="col-md-4">

    </div>
  

    <div class="col-md-4">
        @{
        if (ViewData["Status"] != null)
        {
            if (ViewData["Status"].ToString() == "Successfull")
            {

                <span class="text-success">Odds addedd successfully</span>

        }

        else
        {
            <span class="text-danger">An Error Has occured</span>


    }

}


        }
        <form asp-action="CreateOdds" asp-antiforgery="true">
            <div asp-validation-summary="ModelOnly" class="text-danger">

            </div>
            <div class="form-group">
                <label asp-for="oddsDetails" class="control-label"></label>
                <input asp-for="oddsDetails" class="form-control" value="" />
                <span asp-validation-for="oddsDetails" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="home" class="control-label"></label>
                <input asp-for="home" class="form-control" value="" />
                <span asp-validation-for="home" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="draw" class="control-label"></label>
                <input asp-for="draw" class="form-control" value="" />
                <span asp-validation-for="draw" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="away" class="control-label"></label>
                <input asp-for="away" class="form-control" value="" />
                <span asp-validation-for="away" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>

    <div class="col-md-4">

    </div>

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
</div>
