﻿@using ODDESTODDS.web.ViewModels;
@model IEnumerable<ODDESTODDS.web.ViewModels.FetchCurrentOddsViewModel>;

<div class="row">
    <br /><br /><br />
    <div class="col-lg-2">

    </div>

    <div class="col-lg-8">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        S/N
                    </th>
                    <th>
                        Game Description
                    </th>
                    <th>
                        Home win (1)
                    </th>
                    <th>
                        Draw (X)
                    </th>
                    <th>
                        Away wins (2)
                    </th>
                    <th>
                        Action (#)
                        @Html.ActionLink("Add Odds", "CreateOdds")|

                    </th>
                </tr>
            </thead>
            <tbody>

                @{
                    if (Model != null)
                    {
                        var sn = 1;
                        foreach (var item in Model)
                        {
                <tr>
                    <td>
                        @sn
                    </td>
                    <td>
                        @item.oddsDetails
                    </td>
                    <td>
                        @item.home
                    </td>
                    <td>
                        @item.draw
                    </td>
                    <td>
                        @item.away
                    </td>


                    <td>
                        @Html.ActionLink("Delete Odds", "deleteOdd", new { id = item.Id })|
                        @Html.ActionLink("Update Odds", "updateodds", new { id = item.Id })|
                    </td>

                </tr>
                            sn++;
                        }

                    }
                }
            </tbody>
        </table>
    </div>

</div>



